version: 2.1
jobs:
  check-folders:
    docker:
      - image: cimg/node:20.12
    steps:
      - checkout
      - run:
          name: Show Folder Tree
          command: |
            echo "Current working directory: $(pwd)"
            echo "====================================="
            ls -la
            echo "====================================="
            find . -maxdepth 3 -type d
workflows:
  version: 2
  test:
    jobs:
      - check-folders